<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Crea tus Montajes Digitales</title>
    <link rel="stylesheet" href="/static/inicioproyecto.css">
</head>
<body>
    <div class="navbar">
        <a href="/inicio">Inicio</a>
        <a href="/inicioproyecto">Diseñar</a>
    </div>
    <div class="container">
        <h1 class="titulo">Crea tus Montajes Digitales en Pocos Minutos</h1>
        <p class="subtitulo">Aprende todo en este corto video de 5 minutos</p>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v3cCZ4mgeHM" ></iframe>

             frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="botones-container">
            <a href="/disenar-para-1" class="boton">Diseñar para 1 persona</a>
            <a href="/disenar-para-2" class="boton">Diseñar para 2 personas</a>
            <a href="/disenar-para-3" class="boton">Diseñar para 3 personas</a>
            <a href="/disenar-para-4" class="boton">Diseñar para 4 o mas personas</a>
        </div>
    </div>
</body>
</html>
